asgiref
build
certifi
charset-normalizer
Django
django-admin-honeypot-updated-2021
django-axes
django-cors-headers
django-cors-middleware
django-environ
django-filter
django-ipware
djangorestframework
djangorestframework-simplejwt
googlemaps
idna
Markdown
pip
psycopg2
PyJWT
python-ipware
requests
setuptools
sqlparse
tzdata
urllib3